<ul>
<% @categories.each do |cat| %>
<li><%= link_to cat.name, category_path(cat) %><br> 

<% if cat.children.any? %>
<p>Children with memories in this category:</p> 
<% end%>
    <ul>
    <% cat.children.each do |c| %>
    <li><%= link_to c.name, c %></li><br>
    <% end  %>
    </ul>
</li>
<% end %>

</ul>